<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light navbar-custom py-3" id="mainNav">
  <div class="container">
    <img src="assets/images/logo-bitmap.jpg"
          srcset="assets/images/logo-bitmap@2x.jpg 2x,
                  assets/images/logo-bitmap@3x.jpg 3x"
          class="Bitmap">
        <div class="title">
          <div class="good-morning">Good Morning <br><strong class="Fellas">Fellas</strong></div>
        </div>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-container">
  <div class="masthead">
    <div class="container">
      <div class="row h-100 align-items-stretch">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold WEEKEND-FROM-HOME">Weekend From Home</h1>
          <p class="Stay-active-with-a-l py-4">Stay active with a little workout.</p>
          <img src="assets/images/lego-bitmap.png"
                srcset="assets/images/lego-bitmap@2x.png 2x,
                        assets/images/lego-bitmap@3x.png 3x"
                class="Bitmap-hero">
          <button class="btn btn-rounded btn-hero">Let's Go </button>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Quotes -->
<section class="quotes-section">
  <div class="d-flex align-items-end flex-column bd-highlight" style="height: 200px;">
    <img src="assets/images/lego-rotate.png" class="img-lego-rotate">
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center content-text">
      <blockquote class="blockquote text-right">
        <p class="mb-4">
          <span class="text-blue">Deffinition;</span>
          a practice or exercise to test or improve one's
          fitness for athletic competition, ability, or performance to
          exhaust (something, such as a mine) by working to devise,
          arrange, or achieve by resolving difficulties. MerriamWebster.com
          Dictionary.
        </p>
        <footer class="blockquote-footer"><cite title="Source Title">weekend team</cite></footer>
      </blockquote>
    </div>

    <div class="container testimonials">
      <div class="circle"></div>
      <h2 class="text-white text-center title m-0">Testimonial</h2>

        <div class="container-slide">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="box-slider">
                <h1 class="title-slider m-0">Blu Kicks 1</h1>
                <p class="content-slider m-0">
                  Places where you can leverage tools and software to free up time to focus on growing
                  the business.
                </p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box-slider">
                <h1 class="title-slider m-0">Blu Kicks 2</h1>
                <p class="content-slider m-0">
                  Places where you can leverage tools and software to free up time to focus on growing
                  the business.
                </p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box-slider">
                <h1 class="title-slider m-0">Blu Kicks 3</h1>
                <p class="content-slider m-0">
                  Places where you can leverage tools and software to free up time to focus on growing
                  the business.
                </p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box-slider">
                <h1 class="title-slider m-0">Blu Kicks 4</h1>
                <p class="content-slider m-0">
                  Places where you can leverage tools and software to free up time to focus on growing
                  the business.
                </p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box-slider">
                <h1 class="title-slider m-0">Blu Kicks 5</h1>
                <p class="content-slider m-0">
                  Places where you can leverage tools and software to free up time to focus on growing
                  the business.
                </p>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

    </div>


  </div>


</section>

<!-- Dark Section -->
<section class="dark-section text-white">
  <!-- <div class="d-flex flex-column"> -->
    <div class="content-text container-box-dark">
      <div class="content-box-dark">
        <h2 class="text-white text-center title m-0">POV</h2>
        <p class="text-content-dark m-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          ullamco laboris nisi ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="content-box-dark">
        <h2 class="text-white text-center title m-0">Resource</h2>
        <p class="text-content-dark m-0">
          These cases are perfectly simple and easy to distinguish. In a free hour, when our power
          of choice is untrammelled and when nothing prevents our being able to do what we like
          best
        </p>
      </div>
      <div class="content-box-dark">
        <h2 class="text-white text-center title m-0">Help & Tips</h2>
        <p class="text-content-dark m-0">
          These cases are perfectly simple and easy to distinguish. In a free hour, when our power
          of choice is untrammelled and when nothing prevents our being able to do what we like
          best
        </p>
      </div>
    </div>

    <!-- </div> -->
</section>

<!-- Page Content -->
<section class="py-5 bg-dark text-white">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>
