/* You can add global styles to this file, and also import other style files */
/* @font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-ExtraBoldItalic.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Medium.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-MediumItalic.ttf') format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Regular.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Italic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Thin.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-ThinItalic.ttf') format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-Light.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('/assets/fonts/WorkSans-LightItalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
} */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

:root {
  --faded-pink: #eebece;
  --blue: #0b24fb;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --pinky: #f983ab;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  overflow-x: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

nav {
  z-index: 1;
  overflow: hidden;
  padding: 1.2rem !important;
}

.Bitmap {
  width: 33px;
  height: 33px;
  object-fit: contain;
}



/* change the brand and text color */
.good-morning {
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  padding-left: 15px;
}

.Fellas {
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.logo-bitmap {
  width: 40px;
}

header {
  /* background-color: var(--primary); */
  background: var(--faded-pink);
  /* margin-top: 50px; */
}
.masthead {
  /* height: 400px; */
  height: 103vh;
  padding: 190px 0 0;
  background-image: url('assets/images/bg-1.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transform: translateY(-90px);
  color: var(--white);
}

.WEEKEND-FROM-HOME {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900 !important;
  font-stretch: normal;
  font-style: bold;
  line-height: 0.82;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white);
}

.Stay-active-with-a-l {
  font-size: 1.45rem;
  font-weight: 500;
  padding: 1.1rem;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}

.Bitmap-hero {
  width: 220px;
  /* height: 305px; */
  margin-top: 45px;
  object-fit: contain;
  position: relative;
}

.btn-rounded {
  /* font-family: 'Work Sans'; */
  font-weight: normal;
  font-size: large;
  letter-spacing: 1px;
  background: var(--white);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.btn-hero {
  padding: 20px 100px;
  position: absolute;
  top: 428px;
  /* left: 50; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  border: 3px solid transparent;
  -webkit-box-shadow: 0px 15px 55px 0px rgba(249,131,171,0.82);
  -moz-box-shadow: 0px 15px 55px 0px rgba(249,131,171,0.82);
  box-shadow: 0px 15px 55px 0px rgba(249,131,171,0.82);
}

.btn-hero:hover {
  color: var(--pink);
  border: 3px solid var(--pinky);
}

.btn-hero:active {
  -webkit-box-shadow: 0px 14px 13px 8px rgba(249,131,171,0.83);
  -moz-box-shadow: 0px 14px 13px 8px rgba(249,131,171,0.83);
  box-shadow: 0px 14px 13px 8px rgba(249,131,171,0.83);
  transform: scale(.90);
  /* border: 3px solid var(--pinky); */
}

.btn-hero.active.focus, .btn-hero.active:focus, .btn-hero.focus, .btn-hero:active.focus, .btn-hero:active:focus, .btn-hero:focus {
  outline: 0;
}

.btn-circle.active.focus, .btn-circle.active:focus, .btn-circle.focus, .btn-circle:active.focus, .btn-circle:active:focus, .btn-circle:focus {
  outline: 0;
}

.quotes-section {
  /* border-top: 1px solid #000; */
  width: 100%;
  /* height: 670px; */
  /* display: flex; */
  background: var(--faded-pink);
  font-weight: 200;
  margin-top: -60px;
}

.img-lego-rotate {
  width: 180px;
}

.blockquote {
  color: var(--black);
  max-width: 665px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: -30px;
  /* letter-spacing: 0.6px; */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.text-blue {
  color: var(--blue);
  font-weight: 700;
}

.title {
  font-size: 37px;
  font-weight: 900;
  letter-spacing: 1px;
}

.blockquote-footer  {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;

}

.testimonials {
  max-width: 1000px !important;
  /* margin: 0 auto; */
  margin-top: 30px;
  /* background: blue; */
}

.circle {
  background: var(--blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimonials .title {
  transform: translateY(-40px);
  color: var(--white);
  text-shadow: 0 20px 30px rgba(249, 131, 171, 0.7);
}

.container-slide {
  max-width: 700px;
  margin: auto;
}

/* .owl-carousel {
  width : 100%;
} */

/* .owl-item {
  width: 300px !important;
} */
.box-slider {
  /* width: 300px; */
  height: 165px;
  padding: 22px;
  background: var(--white);
}

.box-slider .title-slider {
  font-weight: 900;
  font-size: 2.4rem;
  padding-bottom: 20px;
  color: var(--black);
}

.box-slider .content-slider {
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
}

.owl-carousel .owl-nav{
  /* height: 47px; */
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 50px;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .owl-prev:before {
  font-family: FontAwesome;
    content: "\f060";
    font-size: 16px;
}

.owl-carousel .owl-next:before {
  font-family: FontAwesome;
    content: "\f061";
    font-size: 16px;
}

.owl-carousel .owl-prev {
  /* background: url(nav-icon.png) no-repeat scroll 0 0; */
  position: absolute;
  left: -100px;
}
.owl-carousel .owl-next {
  /* background: url(nav-icon.png) no-repeat scroll -24px 0px; */
  position: absolute;
  right: -70px;
}

.owl-theme .owl-nav [class*=owl-] {
  /* display: inline-block; */
  /* border-radius: 60px; */
  /* box-shadow: 0px 0px 2px #888; */
  /* padding: 20px 30px; */
  background: rgba(255,255,255, 0.7);
  color: var(--black);
  line-height: 28px;
  width: 38px;
	height: 38px;
	/* border: 1px solid #909090; */
	border-radius: 100%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: var(--white);
  color: var(--blue);
}

.owl-stage { left: -50px; }

.dark-section {
  background-color: var(--black);
  padding-top: 150px;
  margin-top: -120px;
}

.container-box {
  /* max-width: 100px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 100px auto 0; */
  /* transform: translateY(-30px); */
  /* position: relative; */
  padding: 0 210px;
}

/* .content-box-dark {
  padding-top: 100px;
} */
.box-body {
  /* padding-top: 40px; */

  text-align: center;
  padding-top: 80px;
}

.box-body h2 {
  padding-bottom: 30px;
}

.box-body p {
  font-size: 1.25rem;
  line-height: 1.7;
}

.box-body h2, .box-body p {
  margin: 0 !important;
}
.bg-black {
  background-color: #000000 !important;
}

.path-3 {
  position: absolute;
  /* background-color: red; */
  right: 130px;
  bottom: 80px;
  /* right: -320px; */
  /* top: -10px; */
}

.path-3 img {
  width: 200px;

}

.card {
  border: none;
}

.container-tips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
  position: relative;
}

.card-tips {
  max-width: 380px;
  max-height: 210px;
  position: relative;
  box-sizing: border-box;
  margin: 0 6px 15px;
  z-index: 2;
  /* cursor: pointer; */
  /* margin: 10px 10px 0 0; */
  /* width: calc(1/3*100% - (1 - 1/3)*10px); */
  /* background: #46B980; */
  /* padding: 10px; */
  /* color: #fff; */
  overflow: hidden;
  /* box-shadow: 0 3px 30px var(--pinky); */
}

.card-tips:hover:before {
  opacity: 1;
}

.card-tips .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.card-tips:hover .card-img-top {
  opacity: 1;
	-webkit-transform: scale3d(1.5,1.5,1);
	transform: scale3d(1.5,1.5,1);
}

.card-body {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  /* flex: 1; */
  display: flex;

}

.card-tips .card-body p {
  padding: 0 30px 0 0;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3;
  /* letter-spacing: 0.6px; */
}

.btn-circle {
  display: block;
  width: 40px;
  height: 40px;
  /* padding: 10px 15px; */
  border-radius: 50%;
  text-align: center;
  /* font-size: 8px; */
  /* text-align: center; */
  background: var(--white);
  color: var(--blue);
  transition: all 0.3s ease 0s;
}

.btn-circle:hover {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  -moz-box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  color: var(--pinky);
}
.btn-circle:active {
  transform: scale(.90);
  -webkit-box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  -moz-box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  box-shadow: 0px 1px 5px 2px rgba(249,131,171,0.83);
  color: var(--pinky);
}

.btn-tips {
  /* padding: 0 !important; */
  margin: auto 0;
}
.btn-tips i {
  font-size: 14px;
}

.lego-3 {
  position: relative;
  margin-top: -150px;
}

.lego-3 img {
  width: 300px;
}

.last-dark-box {
  margin-top: 50px;
}

.last-dark-box p {
  padding-top: 10px;
}

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  padding: 10px;
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--blue);
  color: var(--white);

}

.footer p {
  font-weight: 400;
  font-size: 19px;
}

.footer .version-info {
  font-weight: 300;
  font-size: 1rem;
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 0 12px;
  /* width: 200px; */
  line-height: 1.6;
  height: 28px;
  vertical-align: middle;
  margin: auto 0;
  letter-spacing: 0.5px;
}


